*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header{
    margin-top: 50px;
    margin-bottom: 100px;
}

body{
    background-image: url('bill1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}

table{
    margin: auto;
    border: 1px solid;
    border-collapse: collapse;
    width: 50%;
    background-color: #D7A86E;
}

th{
    border: 1px solid;
    text-align: center;
    padding: 20px;
    background-color: #A64B2A;
    font-family: "Comic Sans MS";
    font-size: 20px;
}

td{
    border: 1px solid;
    text-align: center;
    padding: 20px;
    font-size: 17px;
    font-family: "Comic Sans MS";
}